# wk0.1 A curious case of conditionals

## Intro to git and github

Read these:
* https://help.github.com/articles/set-up-git/
* https://www.atlassian.com/git/tutorials/syncing/git-push

## A few challenges

Complete *reverse_string* and *primes* challenges in challenge folder.

## Reviewing some ideas from yesterday

# Example from yesterday

def t(num):
    if 10 <= num < 15:
        print("hot")
    elif num > 15:
        print("hotter")
    else:
        print("cold")

# What does this function do?
for i in range(4):
    for j in range(10):
        if j % 3 == 0:
            continue
        if j > 7 and j % 2 == 0:
            break
        else:
            print('i equals', i)
            print('j equals', j)
            print('------------')

In [3]:
#a = [1,2,3]
#b = a
#b is a
#b == a
#b = a[:]

In [4]:
#b == a
#b = a[:]

## While Conditional.: return discussion

* [Follow up on yesterday's discussion on conditionals](http://www.pythonlearn.com/html-008/cfbook004.html)

[more on conditionals](https://docs.python.org/3.5/tutorial/datastructures.html#more-on-conditions):
* is and is not
  * [difference between is and ==](https://stackoverflow.com/questions/132988/is-there-a-difference-between-and-is-in-python)
  
Try evaluating each of the lines below in your python REPL. What's going on? 
  
```
a = [1, 2, 3]
b = a
b is a
b == a
b = a[:]
b is a
b == a
```
If you have a hypothesis about the difference between is and ==, devise some tests you could try out to disprove your hypothesis. Implement them. Were you correct?

* in and not in
* and, or
* comparison priority
>  not has the highest priority and or the lowest, so that A and not B or C is equivalent to (A and (not B)) or C.

* Short circuit operators

In [9]:
#1000 == 10**3

True

In [10]:
#1000 is 10**3

False

In [12]:
#4 is 2**2
#python stores small values,  whereas with 10**3 it has to calculate

True

In [20]:
#a = [1,2,3]
#c =[1,2,3]
#b =a
#a is c

False

In [21]:
#a[:] is not b

True

In [32]:
#for x in range(10):
#    print (x)

0
1
2
3
4
5
6
7
8
9

In [33]:
#10 <= x and x < 20

False

In [36]:
#x = 1.5
#if x < 10 and x > 0:
#    print ("x is between ten and zero")

x is between ten and zero

In [37]:
#x = 'a'
#if x == 'a' or x =='b':
#    print('x is a or b')

x is a or b

In [41]:
#'a' or 'b'

'a'

In [42]:
2 or 3

2

In [43]:
'''x = True
y = True

not (x and y)'''

False

In [46]:
'''x = False
y = 0
x and x/y
#and requires both to be true so the error of the division by zero is superceded by the falsity of the first condition''''

False

# More string and list practice

* Add elements from a list L to the end of another list at least three different ways.
* Insert elements into a list at least two different ways.
* Insert an element into a string (this might take more than one step...).
* Remove an item from a list by value.
* Remove an item from a list by index.
* Remove all items from a list two different ways.
* Return the index in the list of the first item whose value is x. 
* Return the number of times x appears in the list.
* Capitalize the first element in a string
* Capitalize all elements in a string
* Strip leading, trailing, and all whitespace (ex. leading: '  asdf  ' --> 'asdf  ', trailing:'  asdf  ' --> '  asdf', all:'   asdf   ' --> 'asdf').
* Split a sentence into a list of words (no whitespace), how would you split on comma or semi-colon?
* Read up on how to format strings

In [119]:
#0.
a = ['x',2,3]
b = [4,5,6]
f = a.pop()
b.append(f)
g = a.pop()
b.append(g)
h = a.pop()
b.append(h)
b


w = [1,2,3]
w.insert(3,4)
w

[1, 2, 3, 4]

In [125]:
'Hello my name is Nick'.split()

['Hello', 'my', 'name', 'is', 'Nick']

In [97]:
a.index('x')

0

In [99]:
a.count('x')

1

In [103]:
'hello'.capitalize()

'Hello'

In [106]:
'hello'.upper()

'HELLO'

In [130]:
a = [1,2,3]
L = [4,5,6]
a.extend(L)
a

[1, 2, 3, 4, 5, 6]

In [133]:
a=[1,2,3]
L = [4,5,6]
a + L

[1, 2, 3, 4, 5, 6]

In [138]:
a = [1,2,3]
L = [4,5,6]
for x in a:
    L.append(x)
print (L)

[4, 5, 6, 1, 2, 3]

In [141]:
a = [1,2,3]
a.append(4)
a

[1, 2, 3, 4]

In [143]:
a.insert(4,5)
a

[1, 2, 3, 4, 5, 5]

In [149]:
#insert element into a string
str1 = 'hello'
str1 = list(str1)
str1.insert(3,'b')
str1 = ''.join(str1)
str1

str1 = 'hello world'
str1 = str1[:3] + 'llll' + str1[4:]
str1

'helllllo world'

In [150]:
#remove an item by value
lst = [1,2,3]
lst.remove(3)
lst

[1, 2]

In [151]:
#remove an item by index
lst.pop(0)
lst

[2]

In [153]:
# remove all items from a list two different ways
lst = [1,2,3,4]
del lst[:]
lst

lst = [1,2,3,4]
lst.clear()
lst

[]

In [ ]:
#Return the index in the list of the first item whose value is x

In [155]:
str1 = 'abc'
b = list(str1).append(5)
b
#immutable always outputs something, mutable does not

In [156]:
def string_changer(duh):
    return duh + '5'

In [157]:
str1 = 'asdf'
string_changer(str1)

'asdf5'

In [158]:
def area(w,h):
    return w*h

In [159]:
area(3,4)

12

In [161]:
#strip leading, trailing and all whitespace

#lstrip,rstrip,strip

str1 = '          absad          '
str1.strip()

'asd   sad'

In [168]:
str1 = '   asd  fw'
b = str1.split()
''.join(b)

'asdfw'

In [171]:
def namer(name):
    print ('My name is {}'.format(name))

namer('Joe')

My name is Joe

In [172]:
def namer(n):
    print ('My name is {name}'.format(name=n))

namer('Joe')

My name is Joe

In [ ]:
#Split a sentence 

str1.split(sep=None)

NameError: name 'i' is not defined

# Intro to pins assignment

* Intro to try/except and error handling
  * Syntax errors vs. exceptions

In [7]:
10 * (1/0)

ZeroDivisionError: division by zero

In [6]:
4 + spam*3

NameError: name 'spam' is not defined

In [ ]:
'2' + 2

Handing exceptions

In [ ]:
while True:
    try:
        x = int(input("Please enter a number: "))
        break
    except ValueError:
        print("Oops!  That was no valid number.  Try again...")

In [5]:
b == a
b = a[:]